# **Data Wrangling Lab**

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [ ]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,25136,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Difficult
11548,25137,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
11549,25138,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
11550,25141,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Switzerland,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
11551,25142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,30.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [ ]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [ ]:
# your code goes here
df_new = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [ ]:
# your code goes here
df_new.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [ ]:
# your code goes here
df_missing = df_new.isnull()
print(df_missing)

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11547       False       False     False        False       False       False
11548       False       False     False        False       False       False
11549       False       False     False        False       False       False
11550       False       False     False        False       False       False
11551       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11547    False    False    False           False  ...          False
11548    False    False    False           False  ...          False
11549    False    False    False           False  ...          False
11550    False    False    False            True  ...          False
11551    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11547         False  False   False  False      False      False       False
11548         False  False   False  False      False      False       False
11549         False  False   False  False      False      False       False
11550          True  False   False  False      False      False       False
11551         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11547         False       False
11548         False       False
11549         False       False
11550         False       False
11551         False       False

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
# your code goes here
df_new["WorkLoc"].isna().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [ ]:
# your code goes here
df_new["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
df_new["WorkLoc"].mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [ ]:
# your code goes here
df_new["WorkLoc"].replace(np.nan, "Office", inplace = True)

C:\Users\Shahrzad\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
#Verifying that no missing values remain
df_new["WorkLoc"].isna().sum()

0

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [ ]:
# your code goes here
#df_new["WorkLoc"].isna().sum()
#or
df_new["WorkLoc"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
11547    False
11548    False
11549    False
11550    False
11551    False
Name: WorkLoc, Length: 11398, dtype: bool

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [ ]:
# your code goes here
#df_new["CompFreq"].value_counts()
df_new["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
# your code goes here
conditions = [df_new["CompFreq"] == "Monthly", df_new["CompFreq"] == "Weekly"]
choices = [df_new["CompTotal"]*12, df_new['CompTotal'] * 52]
           
#conditions = [df['CompFreq'] == 'Monthly', df['CompFreq'] == 'Weekly']
#choices = [df['Comptotal'] * 12, df['Comptotal'] * 52]

df_new['NormalizedAnnualCompensation'] = np.select(conditions, choices, default=df_new['CompTotal'])
           

#df_new.loc[df_new[‘CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df_new[‘CompTotal'] * 12
#df_new.loc[df_new[‘CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df_new[‘CompTotal']
#df_new.loc[df_new[‘CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df_new[‘CompTotal'] * 52

#df_new["NormalizedAnnualCompensation"] =

C:\Users\Shahrzad\AppData\Local\Temp/ipykernel_16772/1198078289.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['NormalizedAnnualCompensation'] = np.select(conditions, choices, default=df_new['CompTotal'])

In [ ]:
df_new[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']]

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

In [ ]:
df_new["NormalizedAnnualCompensation"].median()

100000.0

In [ ]:
df_new.to_csv("CleanedData.csv")