# **Web Scraping**

## Objectives

In this assignment the following will be performed:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

extract the data from the below web site: <br>

In [ ]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [ ]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Download the webpage at the url

In [ ]:
#your code goes here
data = requests.get(url).text

Create a soup object

In [ ]:
#your code goes here
soup = BeautifulSoup(data,'html5lib')

Scrape the `Language name` and `annual average salary`.

In [ ]:
#your code goes here
table = soup.find('table')

In [ ]:
language = []
average_salary = []

In [ ]:
for row in table.find_all('tr'):  # table row is represented by tag <tr>
  cols = row.find_all('td')
  language.append(row.findAll('td')[1])
  average_salary.append(row.findAll('td')[3])

for first, third in zip(language, average_salary):
    print(first.text, third.text)

Language Average Annual Salary
Python $114,383
Java $101,013
R $92,037
Javascript $110,981
Swift $130,801
C++ $113,865
C# $88,726
PHP $84,727
SQL $84,793
Go $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [ ]:
import pandas as pd

In [ ]:
# your code goes here
df = pd.DataFrame(list(zip(language, average_salary)), columns =['language','average_salary'])

In [ ]:
df

        language           average_salary
0     [Language]  [Average Annual Salary]
1       [Python]               [$114,383]
2         [Java]               [$101,013]
3            [R]                [$92,037]
4   [Javascript]               [$110,981]
5        [Swift]               [$130,801]
6          [C++]               [$113,865]
7           [C#]                [$88,726]
8          [PHP]                [$84,727]
9          [SQL]                [$84,793]
10          [Go]                [$94,082]

In [ ]:
df.dtypes

language          object
average_salary    object
dtype: object

In [ ]:
df.to_csv('popular-languages.csv')